langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-groq

torch
torchvision
torchaudio

openai
google-generativeai
python-dotenv

chromadb
faiss-cpu
sentence-transformers
huggingface_hub
transformers

pandas
duckdb
SQLAlchemy
mysql-connector-python

pypdf
pymupdf
beautifulsoup4
bs4
unstructured

wikipedia
arxiv
youtube-transcript-api
pytube
duckduckgo_search==5.3.1b1

validators==0.28.1
numexpr
ipykernel

tiktoken
protobuf